{% extends 'base.html' %}

{% block Content %}
<!--Register-->
<div class="container py-5">
    <div class="container p-5">
        <h1>Регистрация</h1>
        <h4>Суроолоруңуз болсо, биз менен түз байланышыңыз</h4>
        <p>
            Суроолоруңуз болсо, аты-жөнүңүздү, электрондук почтаңыздын дарегин жана төмөнкү билдирүүнү жазыңыз.
            Биздин кызматкерлердин бири сиз менен түз байланышууга жана суроолоруңузга тез арада жооп берүүгө кубанычта
            болот
            мүмкүн.
        </p>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    {{form.username}}
                </div>
                <div class="col-lg-6 col-md-12">
                    {{form.email}}
                </div>
                <div class="row">
                    {{form.password}}
                </div>
            </div>
            <button type="submit">Зарегистрироваться</button>
            <!--            <button class="btn btn-primary" type="submit">Регистрация</button>-->
        </form>
        <p class="text-center">Если у вас уже есть аккаунт, <a href="{% url 'main:login' %}">логин</a> вместо.</p>
    </div>
</div>
{% endblock %}