{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
<div class="Header">
    {% block Header %}
    <h1>Header</h1>
    {% endblock Header %}

</div>

<div class="Menu">
    {% block Menu %}
    <h1>Menu</h1>

    <div class="navbar">
        <a href="{% url 'main:index' %}">Главная</a>
        <div class="dropdown">
            <button class="dropbtn"> Новости
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="https://m.akipress.org/kg//">akipress</a>
                <a href="https://sputnik.kg/">Sputnik</a>
                <a href="https://knews.kg/">knews</a>
                <a href="https://kloop.kg/">kloop</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Райондор
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:sverdlov' %}">Свердлов</a>
                <a href="{% url 'main:lenin' %}">Ленин</a>
                <a href="{% url 'main:oktyabr' %}">Октябрь</a>
                <a href="{% url 'main:pervomay' %}">Первомайский</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Область
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:chui' %}">Чуйская область</a>
                <a href="{% url 'main:talas' %}">Таласская область</a>
                <a href="{% url 'main:yssykkol' %}">Иссык-Кульская область</a>
                <a href="{% url 'main:naryn' %}">Нарынская область</a>
                <a href="{% url 'main:osh' %}">Ошская область</a>
                <a href="{% url 'main:jalalabad' %}">Джалал-Абадская область</a>
                <a href="{% url 'main:batken' %}">Баткенская область</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Вход
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:login' %}">Войти</a>
                <a href="{% url 'main:register' %}">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    {% endblock Menu %}
</div>

<div class="Content">
    {% block Content %}
    <h1>Content</h1>
    {% endblock Content %}
</div>

<div class="Footer">
    {% block Footer %}
    <h1>Footer</h1>
    {% endblock Footer %}
</div>
</body>
</html>