{% extends "base.html" %}

{% block Content %}
<h1>{{region.name}}</h1>
<p>{{region.info}}</p>
<a href="{% url 'main:update_region' region.id %}">
    <button>Update</button>
</a>
<a href="{% url 'main:delete_region' region.id %}">
    <button>Delete</button>
</a>
{% endblock %}


<div class="Menu">
    {% block Menu %}
    <h1>Menu</h1>
    <div class="navbar">
        <a href="{% url 'main:base' %}">Главная</a>
        <div class="dropdown">
            <button class="dropbtn"> Новости
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="https://m.akipress.org/kg//">akipress</a>
                <a href="https://sputnik.kg/">Sputnik</a>
                <a href="https://knews.kg/">knews</a>
                <a href="https://kloop.kg/">kloop</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Райондор
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:create_region' %}">Район кошуу</a>
                {% for region in regions %}
                <a href="{% url 'main:regions' region.id %}">{{region.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Область
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:create_areas' %}">Область кошуу</a>
                {% for area in areas %}
                <a href="{% url 'main:areas' area.id %}">{{area.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Вход
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'main:login' %}">Войти</a>
                <a href="{% url 'main:register' %}">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    {% endblock %}
</div>